.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;
}
.nav__logo {
  width: 70px;
  object-fit: contain;
  left: 20px;
  position: fixed;
}
.nav__avatar {
  position: fixed;
  right: 20px;
  width: 50px;
  object-fit: contain;
  margin-right: 10px;
}
.nav__black {
  background-color: #111;
}
